/* reset default styles for consistency */
body, h1, h2, h {
    margin: 0;
    padding: 0;
}


/* placeholder background color and base font */
body {
    background-color:blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* header */
.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color:cadetblue; /* placeholder */
    padding: 1rem 2rem;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); */
}

.header .profile img {
    width: 1.8rem;
    height: 1.8 rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.header .search-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .search-container label {
    margin-right: 1rem;
}

.header .search-input {
    border: 1px solid blue; /* placeholder */
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    outline: none;
}


/* main content */
.main-content {
    background-color: aquamarine; /* placeholder */
    padding: 1.25rem;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); */
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project {
    background-color: crimson; /* placeholder */
    padding: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}


/* side bar styling */
.sidebar {
    width: 32rem;
    background-color: brown; /* placeholder */
    color: wheat;
    padding: 1.25rem 0;
}

.sidebar-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.6rem;
    list-style: none;
    padding: 0;
    gap: 1rem;
}

.sidebar-grid li {
    display: flex;
    align-items: center;
}

.sidebar-grid img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.6rem;
}


/* announcements style */
.announcements {
    background-color: violet; /* placeholder */
    padding: 1.25rem;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); */
}

.announcements h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.ann-item {
    margin-bottom: 2.5rem;
}

.ann-item h3 {
    font-size: 1.25rem;
    margin-bottom: 0.3rem;
}

.ann-item p {
    font-size: 1rem;
    color: #777;
}